<!DOCTYPE html>
<html data-theme="BDG">
  <head>
    <title>Buddhism Dhamma Guide</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/aos.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/swiper-bundle.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>

    <div class="aos-all h-screen">
      <div class="text-xl text-center my-3">
        <%= __('nav.abhidhamma') %>(သုတဓမ္မဒီပလိုမာ Level- <%= filterValue ==
        "level1"? "1" : filterValue == "level2"? "2" : filterValue == "level3"?
        "3":"1,2,3" %>)
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 p-2 gap-2">
        <% for(var i = 0; i < abhidhammas.length; i++){%>
        <div class="card w-full bg-base-100 card-sm shadow-sm">
          <div class="card-body">
            <h2 class="card-title"><%= abhidhammas[i].title %></h2>
            <p><%= abhidhammas[i].description %></p>
            <div class="justify-end card-actions">
              <a
                href="/abhidhamma/<%= abhidhammas[i]._id %>"
                class="btn btn-primary"
                >See More</a
              >
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <% include ./partial/footer.ejs %>
  </body>
  <script src="/javascripts/aos.js"></script>
</html>
