<!DOCTYPE html>
<html data-theme="BDG">
  <head>
    <title>Buddhism Dhamma Guide</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/aos.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/swiper-bundle.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>

    <div class="aos-all min-h-screen">
      <!-- name of each tab group should be unique -->
      <div
        class="max-w-5xl w-full p-6 bg-base-100 border border-base-300 shadow-xl mt-2 mx-auto"
      >
        <div class="text-xl font-semibold items-center"><%= guide.title %></div>

        <div class="divider mt-2"></div>
        <div class="card bg-base-100 shadow-sm">
          <figure>
            <iframe
              width="560"
              height="315"
              src="<%= guide.mediaUrl %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </figure>
          <h2 class="text-lg my-3 mx-2"><%= guide.summary %></h2>
        </div>
        <div class="card bg-base-100 shadow-sm my-2">
          <div class="stats shadow">
            <div class="stat place-items-center">
              <div class="stat-title">Likes</div>
              <div class="stat-value">
                <%= guide.likes? guide.likes?.length :0 %>
              </div>
            </div>

            <div class="stat place-items-center">
              <div class="stat-title">Comment</div>
              <div class="stat-value">
                <%= guide.comments? guide.comments?.length :0 %>
              </div>
            </div>
          </div>
          <% if(locals.user){%>
          <div class="flex gap-2 my-3">
            <input
              type="text"
              name="content"
              id="comment"
              class="input input-bordered w-full"
              placeholder="Write a comment..."
              required
            />
          </div>
          <div
            class="flex items-center justify-around text-sm text-gray-500 mb-4 mt-3"
          >
            <% if (guide.likes && guide.likes.includes(locals.user.id)) { %>
            <button
              class="btn btn-error lg:btn-wide"
              onclick="likeGuide('<%= guide._id %>','unlike')"
            >
              👎 Unlike
            </button>
            <%}else{%>
            <button
              class="btn btn-primary lg:btn-wide"
              onclick="likeGuide('<%= guide._id %>','like')"
            >
              👍 Like
            </button>
            <%}%>
            <button
              class="btn btn-secondary lg:btn-wide"
              onclick="comment('<%= guide._id %>')"
            >
              Comment
            </button>
          </div>

          <%}else{%>
          <div class="bg-base-100 p-6 shadow-lg rounded-lg text-center mb-8">
            <h2 class="text-xl font-bold mb-4">
              Please Log in to Give like and Comment
            </h2>
            <a href="/auth/login" class="btn btn-secondary"
              ><%= __('login') %></a
            >
          </div>
          <%}%>
          <div class="flex justify-start">
            <a
              href="javascript:window.history.back();"
              class="btn btn-primary mx-3"
              ><%= __('back') %></a
            >
          </div>
          <div class="bg-base-100 p-6 shadow-lg rounded-lg mb-8">
            <% for(var i = 0; i < guide.comments.length;i++){%>
            <div class="card card-sm border my-1">
              <div class="card-body">
                <div class="card-title">
                  <% if(guide.comments[i].userId.avatar){%>
                  <img
                    src="<%= guide.comments[i].userId.avatar %>"
                    alt="User Profile"
                    class="w-8 h-8 rounded-full border"
                  />
                  <%}else{%>
                  <img
                    src="https://avatar.iran.liara.run/public"
                    alt="User Profile"
                    class="w-8 h-8 rounded-full border"
                  />
                  <%}%> <%=guide.comments[i].userId.name %>
                </div>
                <div class="italic">
                  <%= new Date(guide.comments[i].created).toLocaleDateString()
                  %>
                </div>
                <div class="font-semibold"><%=guide.comments[i].content %></div>
              </div>
            </div>

            <%}%>
          </div>
        </div>
      </div>
    </div>
    <% include ./partial/footer.ejs %>
  </body>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/jquery-3.7.1.min.js"></script>
  <script>
    function likeGuide(id, action) {
      $.ajax("/user/guideLikeFeature", {
        type: "POST",
        data: { guideId: id, action: action },
        success: function (result) {
          if (result.status == false) {
            alert(result.message);
          } else {
            location.reload();
          }
        },
      });
      console.log(id, action);
    }

    function comment(guideId) {
      if ($("#comment").val().trim() == "") {
        alert("Comment cannot be empty");
        return;
      }
      $.ajax("/user/guideCommentFeature", {
        type: "POST",
        data: { guideId: guideId, comment: $("#comment").val() },
        success: function (result) {
          if (result.status == false) {
            alert(result.message);
          } else {
            location.reload();
          }
        },
      });
    }
  </script>
</html>
