<!DOCTYPE html>
<html data-theme="BDG">
  <head>
    <title>Buddhism Dhamma Guide</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/aos.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/swiper-bundle.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>

    <div class="aos-all">
      <div class="swiper" data-aos="fade-up">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="w-full h-[30vh] lg:h-[80vh]">
              <img src="/images/slider-1.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  Resolution
                </h2>
                <p class="text-sm lg:text-lg max-w-md drop-shadow-md">
                  Find resolution for your way
                </p>
                <a href="/resolution" class="btn btn-primary"
                  >Explore Resolution</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full h-[30vh] lg:h-[80vh]">
              <img src="/images/slider-2.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  Meditation
                </h2>
                <p class="text-sm lg:text-lg max-w-md drop-shadow-md">
                  Quick meditation tips.
                </p>
                <a href="/meditate" class="btn btn-primary"
                  >Explore Meditation</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full h-[30vh] lg:h-[80vh]">
              <img src="/images/slider-3.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  Dhamma
                </h2>
                <p class="text-sm lg:text-lg max-w-md drop-shadow-md">
                  Learn Dhamma Guide.
                </p>
                <a href="/gsp" class="btn btn-primary">Explore Dhamma Guide</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-blue-200 px-4" data-aos="fade-up">
        <div class="text-center text-3xl lg:text-3xl font-thin italic p-2">
          <%= __('featured')+ ' '+ __('nav.gsp') %>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 p-2 gap-2">
          <% for(var i = 0; i < featuredGsp.length; i++){%>
          <div class="card w-full bg-base-100 card-sm shadow-sm">
            <div class="card-body">
              <h2 class="card-title"><%= featuredGsp[i].titleMM %></h2>
              <p><%= featuredGsp[i].category %></p>
              <div class="justify-end card-actions">
                <a
                  href="/gsp/detail/<%= featuredGsp[i]._id %>"
                  class="btn btn-primary"
                  >See More</a
                >
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
      <div class="bg-green-200 px-4" data-aos="fade-up">
        <div class="text-center text-3xl lg:text-3xl font-thin italic p-2">
          <%= __('featured')+ ' '+ __('nav.meditate') %>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 p-2 gap-2">
          <% for(var i = 0; i < featuredMeditate.length; i++){%>
          <div class="card w-full bg-base-100 card-sm shadow-sm">
            <div class="card-body">
              <h2 class="card-title"><%= featuredMeditate[i].title %></h2>
              <p><%= featuredMeditate[i].guider %></p>
              <div class="justify-end card-actions">
                <a
                  href="/meditate/detail/<%= featuredMeditate[i]._id %>"
                  class="btn btn-primary"
                  >See More</a
                >
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
      <div class="bg-yellow-200 px-4" data-aos="fade-up">
        <div class="text-center text-3xl lg:text-3xl font-thin italic p-2">
          <%= __('featured')+ ' '+ __('nav.resolution') %>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 m-1 lg:m-3"
        >
          <% for(var i = 0; i < featuredResolution.length;i++){%>
          <div class="card bg-base-100 w-full shadow-sm">
            <figure>
              <img src="<%= featuredResolution[i].image %>" alt="Shoes" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                <%= featuredResolution[i].titleMM %>(<%=
                featuredResolution[i].titleEN %>)
              </h2>
              <p><%= featuredResolution[i].descriptionMM %></p>
              <div class="card-actions justify-end">
                <a
                  href="/resolution/<%= featuredResolution[i]._id %>"
                  class="btn btn-primary"
                  >See More</a
                >
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
      <div class="bg-cyan-200 px-4" data-aos="fade-up">
        <div class="text-center text-3xl lg:text-3xl font-thin italic p-2">
          <%= __('featured')+ ' '+ __('nav.dhamma') %>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 p-2 gap-2">
          <% for(var i = 0; i < featuredGuide.length;i++){%>
          <div class="card w-full bg-base-100 card-sm shadow-sm">
            <div class="card-body">
              <h2 class="card-title"><%= featuredGuide[i].title %></h2>
              <p><%= featuredGuide[i].summary %></p>
              <div class="justify-end card-actions">
                <a
                  href="/dhamma/detail/<%= featuredGuide[i]._id %>"
                  class="btn btn-primary"
                  >See More</a
                >
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
    <% include ./partial/footer.ejs %>
  </body>
  <script src="/javascripts/aos.js"></script>
  <script>
    AOS.init({
      mirror: true,
    });
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: true,
      pagination: {
        el: ".swiper-pagination",
      },
      autoplay: {
        delay: 5000,
      },
    });
  </script>
</html>
