<!DOCTYPE html>
<html data-theme="BDG">
  <head>
    <title>Buddhism Dhamma Guide</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>

    <div class="max-w-6xl mx-auto px-4 py-6 space-y-6">
      <!-- Header Section -->
      <div class="text-center space-y-1">
        <h1 class="text-2xl font-bold text-primary">
          <%= resolution.titleMM %>
        </h1>
        <p class="text-gray-600 text-sm"><%= resolution.titleEN %></p>
        <% if(resolution.isFeatured){%>
        <div class="badge badge-success text-white text-sm">Featured</div>
        <%}%>
      </div>

      <!-- Image -->
      <div class="rounded-xl overflow-hidden shadow">
        <img
          src="<%= resolution.image %>"
          alt="Resolution Banner"
          class="w-full object-cover h-64"
        />
      </div>

      <!-- Metadata -->
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 text-center">
        <div class="bg-base-100 p-4 rounded-lg shadow">
          <div class="text-sm text-gray-500">Start Day</div>
          <div class="font-semibold text-lg">
            <%= resolution.startDay == "any"? '-': resolution.startDay%>
          </div>
        </div>
        <div class="bg-base-100 p-4 rounded-lg shadow">
          <div class="text-sm text-gray-500">Duration</div>
          <div class="font-semibold text-lg">
            <%= resolution.durationDays %> Days
          </div>
        </div>
        <div class="bg-base-100 p-4 rounded-lg shadow">
          <div class="text-sm text-gray-500">Remark</div>
          <div class="text-sm text-gray-700"><%= resolution.remark %></div>
        </div>
      </div>

      <!-- Resolution Description -->
      <div
        class="grid grid-cols-1 lg:grid-cols-2 max-w-none text-gray-800 gap-2"
      >
        <p id="contentMM" class="border rounded-lg p-1"></p>
        <p id="contentEN" class="border rounded-lg p-1"></p>
      </div>

      <!-- Step List -->
      <div>
        <h2 class="text-xl font-semibold mb-2">🪜 Resolution Steps</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
          <% for(var i = 0; i < resolution.steps.length;i++){%>
          <div class="card bg-base-100 shadow p-4">
            <h4 class="font-bold">Step <%= resolution.steps[i].number %></h4>
            <p class="text-sm text-gray-600">
              <%= resolution.steps[i].descriptionMM %>
            </p>
            <p class="text-sm text-gray-600">
              <%= resolution.steps[i].descriptionEN %>
            </p>
          </div>
          <%}%>
        </div>
      </div>

      <hr class="my-6" />
      <% if (resolution.table && resolution.table.length) { %>
      <h2 class="text-2xl font-semibold mb-4">Myanmar Resolution Table</h2>

      <div class="overflow-x-auto">
        <table class="table w-full border table-sm">
          <tbody>
            <% resolution.table.forEach(row => { %>
            <tr class="">
              <td class="border text-lg font-bold"><%= row.rowTitleMM %></td>
              <% row.colData.forEach(col => { %>
              <td
                class="border text-center py-3 align-top <%= col.isSpecial ? 'bg-green-300' : '' %>"
              >
                <p>
                  <strong class="text-red-500"><%= col.titleMM %></strong>
                </p>
                <% if (col.subTitleMM) { %>
                <p>
                  <strong><%= col.subTitleMM %></strong>
                </p>
                <% } %>
                <p class="text-md">
                  <strong>(<%= col.roundMM %>) ပတ်</strong>
                </p>
              </td>
              <% }) %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <h2 class="text-2xl font-semibold mb-4">English Resolution Table</h2>

      <div class="overflow-x-auto">
        <table class="table table-sm table-pin-rows table-pin-cols">
          <tbody>
            <% resolution.table.forEach(row => { %>
            <tr class="">
              <td class="border text-lg font-bold"><%= row.rowTitleEN %></td>
              <% row.colData.forEach(col => { %>
              <td
                class="border text-center py-3 align-top <%= col.isSpecial ? 'bg-green-300' : '' %>"
              >
                <p>
                  <strong class="text-red-500"><%= col.titleEN %></strong>
                </p>
                <% if (col.subTitleEN) { %>
                <p>
                  <strong><%= col.subTitleEN %></strong>
                </p>
                <% } %>
                <p class="text-md">
                  <strong>(<%= col.roundEN %>) Round</strong>
                </p>
              </td>
              <% }) %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %> <% if(locals.user){%>
      <div class="my-3 flex flex-1 mx-auto">
        <% if(locals.user.resolutionList.some(item => item.id.toString() ==
        resolution._id)){%>
        <a href="/user" class="btn btn-primary">
          You joined this resolution, check at your profile
        </a>
        <%}else{%>
        <button class="btn btn-primary" <%= locals.user.isVerified ? "": "disabled" %> onclick="joinResolution()">
          Join Resolution
        </button>
        <%}%>
      </div>
      <%}else{%>
      <div class="my-3 flex flex-1 mx-auto gap-2">
        <a class="btn btn-secondary" href="/auth/login">
          <%= __('join') %>
        </a>
          
      </div>
      <%}%>
      <a href="javascript:window.history.back();"
            class="btn btn-primary">
            <%= __('back') %>
      </a>
    </div>

    <% include ./partial/footer.ejs %>
  </body>
  <script src="/javascripts/jquery-3.7.1.min.js"></script>
  <script>
    $(function () {
      $("#contentMM").html(`<%- resolution.contentMM %>`);
      $("#contentEN").html(`<%- resolution.contentEN %>`);
    });
    function joinResolution() {
      $.ajax("/user/joinResolution", {
        type: "POST",
        data: { id: "<%- resolution._id %>" },
        success: function (result) {
          if (result.status == false) {
            alert(result.message);
          } else {
            location.reload();
          }
        },
      });
    }
  </script>
</html>
