<!DOCTYPE html>
<html data-theme="BDG">
  <head>
    <title>Buddhism Dhamma Guide</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css" />
    <script src="/javascripts/swiper-bundle.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>

    <div class="min-h-screen">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="w-full h-[15vh] lg:h-[40vh]">
              <img src="/images/resolution-1.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  <%= __('nav.resolution') %>
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="w-full h-[15vh] lg:h-[40vh]">
              <img src="/images/resolution-2.jpg" class="w-full object-cover" />
              <div
                class="absolute top-1/2 left-5 lg:left-16 -translate-y-1/2 text-white space-y-4"
              >
                <h2 class="text-3xl lg:text-5xl font-bold drop-shadow-md">
                  <%= __('nav.resolution') %>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-2xl my-3 text-center"><%= __('nav.resolution') %></div>
      <div class="flex justify-end p-4">
        <form action="/resolution" class="ml-auto" method="get">
          <div class="join">
            <div>
              <label class="input validator join-item">
                <svg
                  class="h-[1em] opacity-50"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <g
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2.5"
                    fill="none"
                    stroke="currentColor"
                  >
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                  </g>
                </svg>
                <input
                  type="search"
                  name="keyword"
                  value="<%= keyword %>"
                  placeholder="Search"
                />
              </label>
            </div>
            <button type="submit" class="btn btn-neutral join-item">
              Search
            </button>
          </div>
        </form>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 m-1 lg:m-3"
      >
        <% for(var i = 0; i < resolutions.length;i++){%>
        <div class="card bg-base-100 w-full shadow-sm">
          <figure>
            <img src="<%= resolutions[i].image %>" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              <%= resolutions[i].titleMM %>(<%= resolutions[i].titleEN %>)
            </h2>
            <p><%= resolutions[i].descriptionMM %></p>
            <div class="card-actions justify-end">
              <a
                href="/resolution/<%= resolutions[i]._id %>"
                class="btn btn-primary"
                ><%= __('seeMore') %></a
              >
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <% include ./partial/footer.ejs %>
  </body>
  <script>
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: true,
      pagination: {
        el: ".swiper-pagination",
      },
      autoplay: {
        delay: 5000,
      },
    });
  </script>
</html>
