<!DOCTYPE html>
<html data-theme="BDG">
  <head>
    <title>Buddhism Dhamma Guide Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/quill.snow.css" rel="stylesheet" />
    <script src="/javascripts/quill.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="drawer lg:drawer-open">
        <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
            <div class="flex-1">
              <label
                for="left-sidebar-drawer"
                class="btn btn-primary drawer-button lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-5 inline-block w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  ></path>
                </svg>
              </label>
              <h1 class="text-2xl font-semibold ml-2"></h1>
            </div>
          </div>
          <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200">
            <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
              <div class="text-xl font-semibold">
                <%= __('nav.resolution') %> <%= __('update') %>
              </div>
              <div class="divider mt-2"></div>
              <div class="h-full w-full bg-base-100">
                <form
                  class="p-6 rounded-xl shadow space-y-6"
                  action="/admin/resolution/update"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <input
                    type="hidden"
                    name="id"
                    value="<%= resolution._id %>"
                  />
                  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <div class="form-control w-full undefined -mb-7">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Title MM
                        </span>
                      </label>
                      <input
                        type="text"
                        name="titleMM"
                        value="<%= resolution.titleMM %>"
                        placeholder="Resolution Title MM"
                        class="input input-bordered w-full validator"
                        required
                        minlength="3"
                        title="Only letters, numbers or dash"
                      />
                      <p class="validator-hint">
                        Must be at least 3 characters
                      </p>
                    </div>
                    <div class="form-control w-full undefined -mb-7">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Title EN
                        </span>
                      </label>
                      <input
                        type="text"
                        name="titleEN"
                        placeholder="Resolution Title EN"
                        class="input input-bordered w-full validator"
                        required
                        value="<%= resolution.titleEN %>"
                        minlength="3"
                        title="Only letters, numbers or dash"
                      />
                      <p class="validator-hint">
                        Must be at least 3 characters
                      </p>
                    </div>
                    <div class="form-control mb-5">
                      <label class="label">
                        <span class="label-text">Image</span>
                      </label>
                      <input
                        type="file"
                        name="image"
                        placeholder="Media URl"
                        class="file-input"
                      />
                    </div>
                    <div class="form-control mb-24 lg:mb-12 col-span-full">
                      <label class="label">
                        <span class="label-text">MM content</span>
                      </label>
                      <div id="contentEditorMM"></div>
                      <input
                        type="hidden"
                        name="mmContent"
                        id="mmContent"
                        value="<%= resolution.contentMM %>"
                      />
                    </div>
                    <div class="form-control mb-24 lg:mb-12 col-span-full">
                      <label class="label">
                        <span class="label-text">EN content</span>
                      </label>
                      <div id="contentEditorEN"></div>
                      <input
                        type="hidden"
                        name="enContent"
                        id="enContent"
                        value="<%= resolution.contentEN %>"
                      />
                    </div>
                    <div class="form-control my-5">
                      <label class="label">
                        <span class="label-text">Start Days(optional)</span>
                      </label>
                      <select class="select w-full" name="startDays">
                        <option value="any" <%= resolution.startDay == "any"? "selected" : "" %> >Any Day</option>
                        <option value="Sunday" <%= resolution.startDay == "Sunday"? "selected" : "" %> >Sunday</option>
                        <option value="Monday" <%= resolution.startDay == "MonDay"? "selected" : "" %> >MonDay</option>
                        <option value="Tuesday" <%= resolution.startDay == "Tuesday"? "selected" : "" %> >Tuesday</option>
                        <option value="Wednesday" <%= resolution.startDay == "Wednesday"? "selected" : "" %> >Wednesday</option>
                        <option value="Thursday" <%= resolution.startDay == "Thursday"? "selected" : "" %> >Thursday</option>
                        <option value="Friday" <%= resolution.startDay == "Friday" ? "selected" : "" %> >Friday</option>
                        <option value="Saturday" <%= resolution.startDay == "Saturday" ? "selected" : "" %> >Saturday</option>
                      </select>
                    </div>
                    <div class="form-control undefined mt-5">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Duration Days
                        </span>
                      </label>
                      <input
                        type="number"
                        value="<%= resolution.durationDays %>"
                        name="durationDays"
                        placeholder="Duration Days"
                        class="input input-bordered w-full validator"
                        required
                        min="1"
                        title="Only numbers "
                      />
                      <p class="validator-hint">Minium 1 day</p>
                    </div>
                    <div class="form-control undefined mt-5">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Remark
                        </span>
                      </label>
                      <input
                        type="text"
                        name="remark"
                        placeholder="Remark"
                        class="input input-bordered w-full validator"
                        required
                        value="<%= resolution.remark %>"
                        minlength="3"
                        title="Only letters, numbers or dash"
                      />
                      <p class="validator-hint">
                        Must be at least 3 characters
                      </p>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="grid grid-cols-1 lg:grid-cols-2 mb-2 gap-2">
                    <div class="w-full undefined">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Steps
                        </span>
                      </label>
                      <div
                        id="steps-container"
                        class="space-y-4 grid grid-cols-1"
                      ></div>

                      <button
                        type="button"
                        class="btn btn-secondary mt-2"
                        onclick="addStep()"
                      >
                        Add Step
                      </button>
                    </div>
                    <div class="w-full undefined">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Daily Text
                        </span>
                      </label>
                      <div
                        id="daily-container"
                        class="space-y-4 grid grid-cols-1"
                      ></div>

                      <button
                        type="button"
                        class="btn btn-accent mt-2"
                        onclick="addDaily()"
                      >
                        Add Daily Task
                      </button>
                    </div>
                  </div>
                  <div class="mt-16">
                    <button type="submit" class="btn btn-primary float-right">
                      Update
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="h-16"></div>
          </main>
        </div>
        <% include ../../partial/adminDrawer %>
      </div>
    </div>
  </body>
  <script src="/javascripts/jquery-3.7.1.min.js"></script>
  <script>
    const quill1 = new Quill("#contentEditorMM", {
      theme: "snow",
    });

    const quill2 = new Quill("#contentEditorEN", {
      theme: "snow",
    });
    const form = document.querySelector("form");
    const mmContent = document.getElementById("mmContent");
    const enContent = document.getElementById("enContent");

    form.addEventListener("submit", function (e) {
      mmContent.value = quill1.root.innerHTML;
      enContent.value = quill2.root.innerHTML;
    });

    let stepCount = 0;
    let dailyCount = 0;
    $(function () {
      // Initialize steps and habits if they exist
      const steps = <%- JSON.stringify(resolution.steps || []) %>;
      const daily = <%- JSON.stringify(resolution.dailyTasks || []) %>;
      quill1.root.innerHTML = $("#mmContent").val();
      quill2.root.innerHTML = $("#enContent").val();
      steps.forEach((step, index) => {
        addStep();
        const stepDiv = document.querySelector(`[data-step-id="${index}"]`);
        stepDiv.querySelector('input[name^="steps"]').value = step.number;
        stepDiv.querySelector('input[name$="[descriptionMM]"]').value =
          step.descriptionMM;
          stepDiv.querySelector('input[name$="[descriptionEN]"]').value =
          step.descriptionEN;
      });
      daily.forEach((daily, index) => {
        addDaily();
        const disDiv = document.querySelector(`[data-daily-id="${index}"]`);
        disDiv.querySelector('input[name^="daily"]').value = daily.day;
        disDiv.querySelector('input[name$="[titleMM]"]').value =
          daily.titleMM;
        disDiv.querySelector('input[name$="[titleEN]"]').value =
          daily.titleEN;
        disDiv.querySelector('input[name$="[descriptionMM]"]').value =
          daily.descriptionMM;
        disDiv.querySelector('input[name$="[descriptionEN]"]').value =
          daily.descriptionEN;
      });
    });
    function addStep() {
      const container = document.getElementById("steps-container");

      const stepDiv = document.createElement("div");
      stepDiv.className = "border p-4 rounded bg-base-200 relative";
      stepDiv.setAttribute("data-step-id", stepCount);

      stepDiv.innerHTML = `
      <label class="label">Step Number</label>
      <input type="number" name="steps[${stepCount}][number]" class="input input-bordered w-full mb-2" placeholder="Step Number" required />

      <label class="label">Description MM</label>
      <input type="text" name="steps[${stepCount}][descriptionMM]" class="input input-bordered w-full" placeholder="Step Description MM" required />
    
      <label class="label">Description EN</label>
      <input type="text" name="steps[${stepCount}][descriptionEN]" class="input input-bordered w-full" placeholder="Step Description EN" required />

      <button type="button" class="btn btn-error btn-sm mt-3" onclick="removeStep(${stepCount})">Remove Step</button>
    `;
      container.appendChild(stepDiv);
      stepCount++;
    }
    function removeStep(id) {
      const stepDiv = document.querySelector(`[data-step-id="${id}"]`);
      if (stepDiv) {
        stepDiv.remove();
      }
    }

    function addDaily() {
      const container = document.getElementById("daily-container");

      const dailyDiv = document.createElement("div");
      dailyDiv.className = "border p-4 rounded bg-base-200 relative";
      dailyDiv.setAttribute("data-daily-id", dailyCount);

      dailyDiv.innerHTML = `
      <label class="label">No</label>
      <input type="number" name="daily[${dailyCount}][day]" class="input input-bordered w-full mb-2" placeholder="Day" required />

      <label class="label">Title MM</label>
      <input type="text" name="daily[${dailyCount}][titleMM]" class="input input-bordered w-full" placeholder="Title MM" required />

      <label class="label">Title EN</label>
      <input type="text" name="daily[${dailyCount}][titleEN]" class="input input-bordered w-full" placeholder="Title EN" required />

      <label class="label">Description MM</label>
      <input type="text" name="daily[${dailyCount}][descriptionMM]" class="input input-bordered w-full" placeholder="Description MM" required />

      <label class="label">Description EN</label>
      <input type="text" name="daily[${dailyCount}][descriptionEN]" class="input input-bordered w-full" placeholder="Description EN" required />

      <button type="button" class="btn btn-error btn-sm mt-3" onclick="removeDaily(${dailyCount})">Remove Daily Task</button>
    `;
      container.appendChild(dailyDiv);
      dailyCount++;
    }
    function removeDaily(id) {
      const dailyDiv = document.querySelector(`[data-daily-id="${id}"]`);
      if (dailyDiv) {
        dailyDiv.remove();
      }
    }
  </script>
</html>
