<footer
  class="footer footer-horizontal footer-center bg-primary text-base-primary rounded p-5 lg:p-10"
>
  <nav class="grid grid-cols-3 md:grid-cols-6 gap-2">
    <a href="/" class="link link-hover"><%= __('nav.home') %></a>
    <a href="/gsp" class="link link-hover"><%= __('nav.gsp') %></a>
    <a href="/meditate" class="link link-hover"><%= __('nav.meditate') %></a>
    <a href="/resolution" class="link link-hover"
      ><%= __('nav.resolution') %></a
    >
    <a href="/dhamma" class="link link-hover"><%= __('nav.dhamma') %></a>
    <a href="/abhidhamma" class="link link-hover"
      ><%= __('nav.abhidhamma') %></a
    >
  </nav>
  <aside>
    <p>Copyright © <%= new Date().getFullYear()%> - All right reserved</p>
  </aside>
</footer>
