<div class="navbar bg-primary text-primary-content shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <button tabindex="0" role="button" class="btn btn-ghost lg:hidden lg:left-[-10%]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </button>
      <a href="/" class="btn btn-ghost text-xl text-secondary lg:hidden">BDG</a>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content text-secondary bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a href="/"><%= __('nav.home') %></a></li>
        <li><a href="/gsp"><%= __('nav.gsp') %></a></li>
        <li><a href="/meditate"><%= __('nav.meditate') %></a></li>
        <li><a href="/resolution"><%= __('nav.resolution') %></a></li>
        <li><a href="/dhamma"><%= __('nav.dhamma') %></a></li>
        <li>
        <details>
          <summary><%= __('nav.abhidhamma') %></summary>
          <ul class="p-2">
            <li><a href="/abhidhamma?category=level1">သုတဓမ္မဒီပလိုမာ Level-1</a></li>
            <li><a href="/abhidhamma?category=level2">သုတဓမ္မဒီပလိုမာ Level-2</a></li>
            <li><a href="/abhidhamma?category=level3">သုတဓမ္မဒီပလိုမာ Level-3</a></li>
          </ul>
        </details>
      </li>
      <% if(locals.isAuthenticated){%>
        <li><a href="/user"><%= __('nav.profile') %></a></li>
        <!-- <li><a href="/quiz"><%= __('nav.quiz') %></a></li> -->
      <%}%>
        <li>
          <a href="<%= locals.lang == 'en'? '/?lang=mm':'/?lang=en' %>">
            <%= __('nav.lang') %>
          </a>
        </li>
      </ul>
      
    </div>
    <a href="/" class="btn btn-ghost btn-primary text-xl hidden lg:flex text-secondary"
        >Buddhism Dhamma Guide
      </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal text-secondary px-1">
      <li><a href="/"><%= __('nav.home') %></a></li>
      <li><a href="/gsp"><%= __('nav.gsp') %></a></li>
      <li><a href="/meditate"><%= __('nav.meditate') %></a></li>
      <li><a href="/resolution"><%= __('nav.resolution') %></a></li>
      <li><a href="/dhamma"><%= __('nav.dhamma') %></a></li>
        <li>
        <details>
          <summary><%= __('nav.abhidhamma') %></summary>
          <ul class="p-2 z-1001">
            <li><a href="/abhidhamma?category=level1">သုတဓမ္မဒီပလိုမာ Level-1</a></li>
            <li><a href="/abhidhamma?category=level2">သုတဓမ္မဒီပလိုမာ Level-2</a></li>
            <li><a href="/abhidhamma?category=level3">သုတဓမ္မဒီပလိုမာ Level-3</a></li>
          </ul>
        </details>
      </li>
      <% if(locals.isAuthenticated){%>
        <li><a href="/user"><%= __('nav.profile') %></a></li>
        <!-- <li><a href="/quiz"><%= __('nav.quiz') %></a></li> -->
      <%}%>
      <li>
        <a href="<%= locals.lang == 'en'? '/?lang=mm':'/?lang=en' %>">
          <%= __('nav.lang') %>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <% if(locals.isAuthenticated){%>
    <a
      href="/auth/logout"
      class="btn btn-outline text-secondary btn-ghost btn-primary"
      ><%= __('nav.logout') %></a
    >
    <%}else{%>
    <a
      href="/auth/login"
      class="btn btn-outline text-secondary btn-ghost btn-primary"
      ><%= __('nav.account') %></a
    >
    <%}%>
  </div>
</div>
<% if (success && success.length > 0) { %> <% success.forEach(function(message)
{ %>
<div
  class="alert alert-success flex justify-between items-center gap-4 alert-vertical sm:alert-horizontal"
  role="alert"
>
  <div class="flex justify-between items-center w-full">
    <span><%= message %></span>
    <button
      onclick="this.parentElement.parentElement.remove()"
      class="btn btn-sm btn-primary"
    >
      Close
    </button>
  </div>
</div>
<% }); %> <% } %> <% if (error && error.length > 0) { %> <%
error.forEach(function(message) { %>
<div
  class="alert alert-error flex justify-between items-center gap-4 alert-vertical sm:alert-horizontal"
  role="alert"
>
  <div class="flex justify-between items-center w-full">
    <span><%= message %></span>
    <button
      onclick="this.parentElement.parentElement.remove()"
      class="btn btn-sm btn-primary"
    >
      Close
    </button>
  </div>
</div>
  <% }); %> <% } %>
  <script>
    console.log("<%= locals.isAuthenticated %>");
  </script>
</div>
